.login {
  height: 100%;
  color: #ffffff;
  background: #00439c;
  .img-component {
    padding-top: 100px;
    text-align: center;
  }
  .login-form {
    text-align: center;
    margin: 20px 5%;
  }
}